body {
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1 {
    text-align: center;
    padding: 10px;
    margin: 30px 0;
    font-size: x-large;
}

h2 {
    padding: 10px;
    margin: 30px 0;
    font-size: large;
}

p,
blockquote {
    color: #000000;
    text-align: center;
    margin: 30px 0;
    padding: 10px;
    font-size: medium;
}

img {
    max-width: 100%;
    opacity: 1.0;
}

header {
    text-align: center;
    background-color: #72729d;
    color: #fff;
    padding: 10px;
}

header ul li {
    display: inline;
    margin-left: 30px;
}

header a {
    text-decoration: none;
    color: #fff;
    padding: 50px;
    font-size: larger;
    
}

nav ul {
    list-style-type: none;
    margin-bottom: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    
}

a:hover {
    background-color: #000000;
    padding: 10px 50px;
}

.teste {
    padding: 50px;
}

.teste:hover {
    background-color: #f5f5f5; 
    padding: 50px 50px;
}

.search {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.search h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

#searchForm {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    max-width: 600px;
    margin: 0 auto;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="number"],
input[type="password"],
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

span {
    font-weight: bold;
    margin: 0 5px;
}


.featured-products {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: flex;
    text-align: center;
    font-weight: bold;
}

.product {
    flex-basis: 300px;
    margin: 20px;

}

#login {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    max-width: 350px;
    margin-top: 70px;
    margin-left: 50px; 
}

footer {
    text-align: center;
    background-color: #72729d;
    color: #fff;
    padding: 10px 0;
    margin-top: auto;
}

.contact-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: 20px auto;
    max-width: 600px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    width: 95%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contact-info {
    text-align: center;
    margin-top: 10px;
}

.contact-info p {
    margin: 10px 0;
    font-size: 18px;
}

.chat-widget {
    position: fixed;
    bottom: 90px;
    right: 20px;
    background-color: #333;
    color: #fff;
    border-radius: 10px;
    padding: 10px 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: background-color 0.3s;
}

.chat-widget:hover {
    background-color: #333;
}

.chat-icon {
    font-size: 24px;
    margin-right: 10px;
}

.chat-text {
    font-weight: bold;
}