body {
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    flex-direction: column;
    min-height: 100vh;
}

h1 {
    text-align: center;
    padding: 10px;
    margin: 30px 0;
    font-size: x-large;
}

h2 {
    padding: 10px;
    margin: 30px 0;
    font-size: large;
}

h3 {
    text-align: center;
}

p,
blockquote {
    color: #000000;
    text-align: center;
    margin: 30px 0;
    padding: 10px;
    font-size: medium;
}

img {
    max-width: 100%;
    opacity: 1.0;
}

header {
    text-align: center;
    background-color: #72729d;
    color: #fff;
    padding: 10px;
}

header ul li {
    display: inline;
    margin-left: 12px;
}

header a {
    text-decoration: none;
    color: #fff;
    padding: 50px;
    font-size: larger;

}

nav ul {
    list-style-type: none;
    margin-bottom: 0;
    padding: 0;
}

nav ul li {
    display: inline;

}

nav ul li a {
    color: #ffffff;
    text-decoration: none;

}

a:hover {
    background-color: #000000;
    padding: 10px 50px;
}

#carousel-container {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
}

#carousel {
    display: flex;
    transition: transform 0.5s ease;
    margin-top: 100px;
}

.search-results {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.no-results-message {
    font-size: 18px;
    color: #FF0000;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.property {
    flex: 0 0 300px;
    margin: 20px 10px;
    text-align: center;
}

.property img {
    height: 250px;
    width: 320px;
}

.carousel-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    z-index: 2;
}

.carousel-arrow-left {
    left: 0;
}

.carousel-arrow-right {
    right: 0;
}

.teste {
    padding: 50px;
}

.teste:hover {
    background-color: #f5f5f5;
    padding: 50px 50px;
}

.search {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.search h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

#searchForm {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    max-width: 600px;
    margin: 0 auto;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="number"],
input[type="password"],
input[type="address"],
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

span {
    font-weight: bold;
    margin: 0 5px;
}

.featured-products {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: flex;
    text-align: center;
    font-weight: bold;
}

.product {
    flex-basis: 300px;
    margin: 20px;

}

.area-de-cadastro-login {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.login,
.cadastro,
.atualizar-cadastro,
.excluir-conta {
    width: 25%;
}

#login,
#cadastro,
#atualizar-cadastro,
#excluir-conta {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    max-width: 320px;
    margin-top: 70px;
    margin-left: 50px;
    margin-bottom: 40px;
}

footer {
    text-align: center;
    background-color: #72729d;
    color: #fff;
    padding: 10px 0;
    margin-top: auto;
}

.contact-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: 20px auto;
    max-width: 600px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    width: 95%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="submit"] {
    background-color: #72729d;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contact-info {
    text-align: center;
    margin-top: 10px;
}

.contact-info p {
    margin: 10px 0;
    font-size: 18px;
}

.chat-widget {
    position: fixed;
    bottom: 90px;
    right: 20px;
    background-color: #72729d;
    color: #fff;
    border-radius: 10px;
    padding: 10px 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: background-color 0.3s;
}

.chat-widget:hover {
    background-color: #333;
}

.chat-icon {
    font-size: 24px;
    margin-right: 10px;
}

.chat-text {
    font-weight: bold;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    margin-top: 2%;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.banner {
    height: 250px;
}
